body {
    background-image: url("Siren2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(215, 190, 232);
    text-align: center;

    padding: 20px;

    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
}

.gallery {
  display: flex;
  justify-content: center;
  border: #e371a3 2px solid;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
}

.img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  margin-top: 20px;
}
