body {
    background-image: url("ChatGPT Image May 1, 2026, 06_50_09 PM.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 86, 144);
    text-align: center;

    padding: 20px;

    background-attachment: fixed;
}

img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
}